<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.dataservice.mapper.collectmapper.BarcodeMapper">
    <select id="findBarcodeByPrescribeCodeList" resultType="HashMap">
        SELECT barcode, prescribe_code
        FROM collecting
        WHERE prescribe_code IN (
        <foreach collection="prescribeCodeList" item="item" separator=",">
            ${item}
        </foreach>
            )
    </select>
</mapper>