<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.dataservice.mapper.InspectionMapper">

    <select id="getTodayRegisterMapper" resultType="com.douzone.dataservice.domain.RegisterDTO">
        select *
        from register as r left join collecting as c on r.barcode = c.barcode
            left join prescribe as p on c.prescribe_code= p.prescribe_code
            left join order_slip as o on p.order_code = o.order_code
            left join conclusion as con on r.register_code = con.register_code
        where left(r.register_dt, 10) = left(now(), 10)
        GROUP BY r.barcode
        ORDER BY r.register_dt DESC;
    </select>

    <select id="getSearchRegisterMapper" resultType="com.douzone.dataservice.domain.RegisterDTO" parameterType="com.douzone.dataservice.domain.SearchDTO">
        select *
        from register as r left join collecting as c on r.barcode = c.barcode
            left join prescribe as p on c.prescribe_code= p.prescribe_code
            left join order_slip as o on p.order_code = o.order_code
--             left join conclusion as con on r.register_code = con.register_code
        <if test="barcode == null">
        where left(r.register_dt, 10) between #{stDate} and #{endDate}
        </if>
        <if test="barcode != null">
        where r.barcode LIKE concat('%',#{barcode},'%')
        </if>
--         GROUP BY r.barcode
        ORDER BY r.register_dt DESC
    </select>

    <select id="getSearchInspectionTypeMapper" resultType="com.douzone.dataservice.domain.InspectionTypeDTO">
        select *
        from inspection_type
        where order_code= (select p.order_code
                           from collecting as c left join prescribe as p on c.prescribe_code = p.prescribe_code
                           where barcode=${barcode});
    </select>

    <select id="getSelectConclusionMapper" resultType="com.douzone.dataservice.domain.ConclusionDTO" parameterType="com.douzone.dataservice.domain.SearchDTO">
        select *
        from conclusion as c left join register as r on c.register_code = r.register_code
        where r.barcode = #{barcode}
        ORDER BY c.inspection_code ASC
    </select>

</mapper>