<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.douzone.dataservice.mapper.ResultMapper">
    <select id="selectAll" resultType="com.douzone.dataservice.domain.ResultDTO">
        SELECT DISTINCT v.patient_no, pt.patient_name, pt.patient_phonenumber, cn.result_no, r.register_dt, s.sample_name, p.prescribe_dt, i.INSPECTION_NAME, cn.figures, i.unit, i.baseline, cn.note
        FROM patient as pt, visit as v, prescribe as p, order_slip as o, collecting as cg, conclusion as cn, inspection_type as i, vessel as vl, classification as c, register as r, sample_type as s
        WHERE pt.patient_no = v.patient_no
        AND v.visit_code = p.visit_code
        AND p.order_code = o.order_code
        AND o.vessel_code = vl.vessel_code
        AND p.prescribe_code = cg.prescribe_code
        AND o.classification_code = c.classification_code
        AND cg.barcode = r.barcode
        AND r.register_code = cn.register_code
        AND i.inspection_code = cn.inspection_code
        AND vl.sample_code = s.sample_code
        AND o.order_code = i.order_code
        ORDER BY r.register_dt DESC;
    </select>

    <select id="getSearchResultMapper" resultType="com.douzone.dataservice.domain.ResultDTO" parameterType="com.douzone.dataservice.domain.ResultSearchDTO">
        SELECT DISTINCT v.patient_no, pt.patient_name, pt.patient_phonenumber, cn.result_no, r.register_dt, s.sample_name, p.prescribe_dt, i.inspection_name, cn.figures, i.unit, i.baseline, cn.note
        FROM patient as pt, visit as v, prescribe as p, order_slip as o, collecting as cg, conclusion as cn, inspection_type as i, vessel as vl, classification as c, register as r, sample_type as s
        <if test='patientNo != null and radioDate == "registerdate".toString()'>
            where left(register_dt, 10) between #{startDate} and #{endDate}
        </if>
        <if test='patientNo != null and radioDate == "prescribedate".toString()'>
            where prescribe_dt between #{startDate} and #{endDate}
        </if>
        AND v.patient_no = #{patientNo}
        AND pt.patient_no = v.patient_no
        AND v.visit_code = p.visit_code
        AND p.order_code = o.order_code
        AND o.vessel_code = vl.vessel_code
        AND p.prescribe_code = cg.prescribe_code
        AND o.classification_code = c.classification_code
        AND cg.barcode = r.barcode
        AND r.register_code = cn.register_code
        AND i.inspection_code = cn.inspection_code
        AND vl.sample_code = s.sample_code
        AND o.order_code = i.order_code
        ORDER BY r.register_dt DESC;

    </select>

    <select id="searchNotDate" resultType="com.douzone.dataservice.domain.ResultDTO" parameterType="int">
        SELECT DISTINCT v.patient_no, pt.patient_name, pt.patient_phonenumber, cn.result_no, r.register_dt, s.sample_name, p.prescribe_dt, i.INSPECTION_NAME, cn.figures, i.unit, i.baseline, cn.note
        FROM patient as pt, visit as v, prescribe as p, order_slip as o, collecting as cg, conclusion as cn, inspection_type as i, vessel as vl, classification as c, register as r, sample_type as s
        WHERE v.patient_no = #{text}
        AND pt.patient_no = v.patient_no
        AND v.visit_code = p.visit_code
        AND p.order_code = o.order_code
        AND o.vessel_code = vl.vessel_code
        AND p.prescribe_code = cg.prescribe_code
        AND o.classification_code = c.classification_code
        AND cg.barcode = r.barcode
        AND r.register_code = cn.register_code
        AND i.inspection_code = cn.inspection_code
        AND vl.sample_code = s.sample_code
        AND o.order_code = i.order_code
        ORDER BY r.register_dt DESC;
    </select>

    <select id="smsSelectAll" resultType="com.douzone.dataservice.domain.SmsDataDTO">
        select *
        from smsdata
    </select>

    <insert id="insert" parameterType="com.douzone.dataservice.domain.SmsDataDTO">
        INSERT INTO smsdata(sms_title, sms_content)
        VALUES(#{smsTitle}, #{smsContent})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM smsdata
        WHERE sms_no = #{smsNo}
    </delete>

    <update id="update" parameterType="com.douzone.dataservice.domain.SmsDataDTO" >
        UPDATE smsdata
        SET sms_title = #{smsTitle}, sms_content = #{smsContent}
        WHERE sms_no = #{smsNo}
    </update>

</mapper>

