<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.dataservice.mapper.ResultMapper">
    <select id="selectAll" resultType="com.douzone.dataservice.domain.ResultDTO">
        SELECT R.REGISTER_DT, S.SAMPLE_NAME, P.PRESCRIBE_DT, I.INSPECTION_NAME, CN.FIGURES, I.BASELINE, I.UNIT, CN.NOTE, CN.SAMPLE_NOTE
        FROM VISIT AS V, PRESCRIBE AS P, INSPECTION_TYPE AS I, VESSEL AS VL, SAMPLE_TYPE AS S, COLLECTING AS C, REGISTER AS R, CONCLUSION AS CN
        WHERE V.PATIENT_NO = 1
        AND V.VISIT_CODE = P.VISIT_CODE
        AND P.INSPECTION_CODE = I.INSPECTION_CODE
        AND I.VESSEL_CODE = VL.VESSEL_CODE
        AND VL.SAMPLE_CODE = S.SAMPLE_CODE
        AND P.PRESCRIBE_CODE = C.PRESCRIBE_CODE
        AND C.BARCODE = R.BARCODE
        AND R.REGISTER_CODE = CN.REGISTER_CODE
        AND R.REGISTER_DT BETWEEN '2016-01-01' and '2022-02-06'
        order by R.REGISTER_DT DESC;
    </select>

    <select id="selectOne" resultType="com.douzone.dataservice.domain.ResultDTO" parameterType="com.douzone.dataservice.domain.ResultSearchDTO">
        SELECT R.REGISTER_DT, S.SAMPLE_NAME, P.PRESCRIBE_DT, I.INSPECTION_NAME, CN.FIGURES, I.BASELINE, I.UNIT, CN.NOTE, CN.SAMPLE_NOTE
        FROM VISIT AS V, PRESCRIBE AS P, INSPECTION_TYPE AS I, VESSEL AS VL, SAMPLE_TYPE AS S, COLLECTING AS C, REGISTER AS R, CONCLUSION AS CN
        <if test="patientNo == null">
            <if test="startDate != null">
                where R.REGISTER_DT between #{startDate} and #{endDate}
                order by R.REGISTER_DT DESC;
            </if>
        </if>
        <if test="patientNo != null">
            where V.PATIENT_NO=#{patientNo}
            <if test="startDate != null">
                AND V.VISIT_CODE = P.VISIT_CODE
                AND P.INSPECTION_CODE = I.INSPECTION_CODE
                AND I.VESSEL_CODE = VL.VESSEL_CODE
                AND VL.SAMPLE_CODE = S.SAMPLE_CODE
                AND P.PRESCRIBE_CODE = C.PRESCRIBE_CODE
                AND C.BARCODE = R.BARCODE
                AND R.REGISTER_CODE = CN.REGISTER_CODE
                and (R.REGISTER_DT between #{startDate} and #{endDate})
                order by R.REGISTER_DT DESC;
            </if>
        </if>
    </select>

    <select id="searchNotDate" resultType="com.douzone.dataservice.domain.ResultDTO" parameterType="int">
        SELECT DISTINCT R.REGISTER_DT, S.SAMPLE_NAME, P.PRESCRIBE_DT, I.INSPECTION_NAME, CN.FIGURES, I.BASELINE, I.UNIT, CN.NOTE, CN.SAMPLE_NOTE
        FROM VISIT AS V, PRESCRIBE AS P, INSPECTION_TYPE AS I, VESSEL AS VL, SAMPLE_TYPE AS S, COLLECTING AS C, REGISTER AS R, CONCLUSION AS CN
        WHERE V.PATIENT_NO = #{text}
        AND V.VISIT_CODE = P.VISIT_CODE
        AND P.INSPECTION_CODE = I.INSPECTION_CODE
        AND I.VESSEL_CODE = VL.VESSEL_CODE
        AND VL.SAMPLE_CODE = S.SAMPLE_CODE
        AND P.PRESCRIBE_CODE = C.PRESCRIBE_CODE
        AND C.BARCODE = R.BARCODE
        AND R.REGISTER_CODE = CN.REGISTER_CODE
        order by R.REGISTER_DT DESC;
    </select>
</mapper>

